.popup__container {
  background-color: #fff;
  width: 430px;
  padding-bottom: 37px;
  padding-top: 24px;
  position: relative;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
